<h1>Listing bioentries</h1>

<table>
  <tr>
  </tr>

<% for bioentry in @bioentries %>
  <tr>
    <td><%= link_to 'Show', bioentry %></td>
    <td><%= link_to 'Edit', edit_bioentry_path(bioentry) %></td>
    <td><%= link_to 'Destroy', bioentry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bioentry', new_bioentry_path %>
