<h1>Editing taxon</h1>

<% form_for(@taxon) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @taxon %> |
<%= link_to 'Back', taxons_path %>
