
<h2>Welcome to BioFastaCoconutIsland,</h2>
<% unless flash_messages.empty? %>

<div class="flash-messages-container"> 
	<div class="flash-messages-errorExplanation"> 
	<%= flash_messages %> 
	</div>
</div>
<% end  %>
<p>
   Get started:
</p>
<% if logged_in? %> 
<ul>
	 <li><%= link_to "Upload your fasta files", :controller => 'fasta_files', :action => 'upload_many' %></li>
</ul>
<% else %>
<ul>
	 <li><%= link_to "Login to your account" , "/login"  %>
	 <li><%= link_to "Signup for an account" , "/signup"  %>
</ul>
<% end  %>
