<h1>Listing seqfeatures</h1>

<table>
  <tr>
  </tr>

<% for seqfeature in @seqfeatures %>
  <tr>
    <td><%= link_to 'Show', seqfeature %></td>
    <td><%= link_to 'Edit', edit_seqfeature_path(seqfeature) %></td>
    <td><%= link_to 'Destroy', seqfeature, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New seqfeature', new_seqfeature_path %>
