<script type="text/javascript">
var url = "<%= url_for :controller => 'blast', :action => 'run', :id => @blast_command.id %>";
// notice the use of a proxy to circumvent the Same Origin Policy.

new Ajax.Request(url, {
  method: 'get',
  onSuccess: function(transport) {
    var notice = $('notice');
    var json = transport.responseText.evalJSON(true);
    
    notice.update('Blast Completed!<br /> Matched ' +json.matches  + ' sequences. <br /> '+
                  'Generated '+ json.number_of_fastas  + ' fasta files<br />' +
                  '<a href="' + json.output_file_url +'"> View Results</a>' );
  },
  onFailure: function(transport) {
    var notice = $('notice');
    notice.update('Command Failed!').setStyle({ background: 'red' });
  }
});
</script>


<div class="active-scaffold active-scaffold-blast blast-view default-theme">
<div class="new-view blast-view view">
  <h4>Blasting Files </h4>
   Blast Job Number :<%= @blast_command.id %> 
  
  <div id='notice'>
      <%= image_tag "active_scaffold/default/indicator.gif" %>
      Blast Command is running, do not close this page....
  </div>
</div>
</div>
