<h1>Listing biodatabases</h1>

<table>
  <tr>
  </tr>

<% for biodatabase in @biodatabases %>
  <tr>
    <td><%= link_to 'Show', biodatabase %></td>
    <td><%= link_to 'Edit', edit_biodatabase_path(biodatabase) %></td>
    <td><%= link_to 'Destroy', biodatabase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New biodatabase', new_biodatabase_path %>
